certifi==2022.12.7
chardet==3.0.4
click==7.0
flask==1.0.2
flask-Session==0.3.1
gunicorn==19.9.0
helpers==0.2.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.10
markupSafe==1.1.0
psycopg2==2.7.7
requests==2.21.0
SQLAlchemy==1.2.16
urllib3==1.24.2
werkzeug==0.15.3